body {
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: chocolate;
  text-shadow: 5px 5px 10px grey;
  font-family: Arial, Helvetica, sans-serif;
  //animation: balance 2s linear infinite;
}

.clock {
  font-size: calc(3rem + 1vw);
  color: white;
}

.box-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
  margin-top: 2vh;
  margin-bottom: 15vh;
  border-radius: 10px;
  background-color: darkcyan;
  text-shadow: 5px 5px 10px grey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
}

@keyframes balance {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(100px);
  }

  75% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100px);
  }
}

@media (max-width: 1020px) {
  .clock {
    font-size: calc(2.5rem + 1vw);
  }
}

@media (max-width: 786px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .container {
    position: static;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .box-date {
    margin-top: 4vh;
    margin-bottom: 30vh;
    font-size: calc(0.5rem + 2vw);
  }

  .clock {
    font-size: calc(1rem + 2vw);
  }
}
